body{

}
.greetings{
    top:20vh;
    position: absolute;
    width: 50vw;
    height: 40vh;
    transform: translateY(50%);
    transform: translateX(-50%);
    background-color: #f3f6f8;

left:50%;
    padding: 20px;
    border: none;    
}
.bg{
    filter: blur(3px);
    height: 100vh;
    width:100vw;
}
.content{
    display: flex;
    justify-content: space-around;
}
.text{
    text-align: center;
}
.disc{
    white-space: pre;
    text-align: center;
    border-radius: 62%
}
.writings{
    position: relative;
    top: 15vh;
}