.signupForm{
    z-index: 10;
    width: 350px;
    margin:auto;
    transform: translateY(50%);
    padding: 20px;
    box-shadow: 0 0 3px 0 rgba(56, 34, 34, 0.7);
    background-color: #f3f6f8;
}
.logo1{
    position: absolute;
    width: 10vw;
    transform: translateX(-50%);
    left:50%;
    top:1vh;
}
.intro{position: relative;
    top:100px;
    height: 15vh;
    width: 350px;
    margin:auto;
    transform: translateY(50%);
    padding: 20px;
    box-shadow: 0 0 3px 0 rgba(56, 34, 34, 0.7);
    background-color: #f3f6f8;
}

